{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="banner">
    <img src="{% static 'image/sk.png' %}" alt="hello" class="banner-img">
</div>
<div class="container">

 {% if messages %}
<div class="text-center">
    {% for message in messages %}<span class="btn btn-success form-control" style="font-size: large;">{{message}}</span>{% endfor %}
</div>
 {% endif %}


<div class="container-fluid bg-info my-2 text-center">
    
    <h1>Food Items</h1>
</div>
    <div class="row">
        {% for item in items %}
        <div class="col-sm-4">
            <div class="card m-2 bg-light">
                <img src="{{item.pics.url}}" alt="pizza" class="card-img-top" height="250px">
            </div>  
            <div>
                <h3 class="text-center">{{item.title}}</h3>
                <p class="text-center">{{item.desc}}</p>
                <h4>Rs.&nbsp;{{item.price}}</h4>
            </div>
            <div style="margin-bottom: 50px;">
                {% if  %}
                <button class="btn btn-info"><a href="{% url 'add' item.id %}" style="text-decoration: none; color: whitesmoke;">Add to Cart</a></button>
                <button class="offset-5 btn btn-success">
                    <a href="{% url 'show' item.id %}" style="text-decoration: none; color: whitesmoke;">Buy Now</a></button></div>  
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}